<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Code Java</title>
</head>
<body>
  <!-- <section layout:fragment="header">
    <h1>Customer registration</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section> -->
    <!-- <div th:replace="fragments/header"></div> -->
    <div layout:fragment="content">
    <div class="container text-center">
        <h1>User Registration - Sign Up</h1>
    </div>
    <form th:action="@{/process_register}" method="POST"
    style="max-width: 600px; margin: 0 auto;"
    th:object="${user}">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control-plaintext"  th:field="*{email}" required value="email@example.com">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" th:field="*{password}" required placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control-plaintext"  th:field="*{firstName}"  placeholder="First name" >
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control-plaintext"  th:field="*{lastName}"  placeholder="Last name" >
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
      </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>